.fotos p {
    margin-block: 1vh;
    margin-left: 4vh;
}

.fotos {
    display: grid;
    grid-template-areas: "img descripcion";
    grid-template-columns: 1fr 1fr;
    padding: 4vh;
    height: fit-content;
}

.fotos .descriptionContainer {
    grid-area: descripcion;
}

.fotos .titulo {
    font-size: 4.5vw;
    width: fit-content;
    height: fit-content;
}

.fotos .descripcion {
    font-size: 2vw;
    width: 90%;
    height: fit-content;
}

.fotos img {
    grid-area: img;
    width: 100%;
    height: fit-content;
}
