.fondoVideos {
    position: relative;
    width: 100%;
    height: 100%;
}

.fondoVideos::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/videos/ondasNegrasFondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.videosContainer {
    width: 100%;
    height: 100%;
    margin-top: 12vh;
    transition: all 0.3s;
}
